<!-- back-button.handlebars -->
<!-- Displays a back button that is present on most screens. -->

<div class="back-button">
  <a href="{{destinationURL}}"> <i class="fa fa-chevron-left"></i> Return to {{destinationName}}</a>
</div>