<div class="card mt-4">
  <div class="row no-gutters justify-content-around">
    <div class="col-md-3 mt-3">
      <img class="card__thumbnail"
        src="https://asset3.betterdoctor.com/images/5338f7b24214f84b3800026f-1_thumbnail.jpg">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">John Burke, MD</h5>
        <img class="card__ratings" src="https://asset2.betterdoctor.com/assets/consumer/stars/stars-small-3.5.png">
        <p class="card-text">
          <strong>Specialties <br /></strong>
          Emergency Medicine</p>
        <p class="card-text">
          <strong>Address</strong> <br />
          2505 West Hammer Lane <br />
          Stockton, California 95209
        </p>
      </div>
    </div>
  </div>
</div>