<div class="container">
  <div class="search-bar input-group">
    <input class="form-control" id="search-bar__input" type="search" placeholder="{{placeholder}}">
    <div class="input-group-append">
      <span class="input-group-text custom-form__group-text">
        <i class="fa fa-search"></i>
      </span>
    </div>
  </div>
</div>