{{> navbar}}
{{> back-button destinationURL="/injury-list" destinationName="Injury List"}}

<h2 class="titleName"> Common Injuries: Basketball</h2>

{{!-- <div class="topBox">
  <h2 class="titleName"> Common Injuries: Basketball</h2>
  <a class="btn btn-primary" href="/injury-list" role="button" id="back-btn">Back</a>
</div> --}}

{{#each injuryList.sports}}
<div class="commonInjuryBox">
  {{#each injuries}}
  <a href="/injury-details">

    <div class="cardCommon">
      <p>
        <h4>{{name}}</h4>
      </p>
      <div><img src={{imageURL}} alt={{name}}></div>
      <div>{{description}}</div>
      <br>
    </div>

  </a>
  {{/each}}
</div>
{{/each}}