{{!--
    contact-doctor.handlebars
    The contact page is what users will use to send emails to their doctors for use.
    The user can enter which doctor to send to, the subject of the message, and the message itself.
    Within the message, the user's entire injury log is attached.

    As of the deadline for the final, the email function does not work as it did originally.
    We originally used a service called PostMail, but it has recently stopped working.
    So we have wizard of oz'd the function. For us, making it functional in the beginning was of somewhat low priority.
--}}

{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<h3 class="text-center mb-5">Contact Doctor</h3>

<div class="container">
  <div class="alert alert-success response-text" role="alert"></div>
</div>

<form id="javascript_form" class="container">
  <div class="form-group divider">
    <label for="doctorName">Doctor</label>
    <select class="form-control" id="doctor" name="doctor">
      <option>Jamie Lee</option>
      <option>Eric Wong</option>
      <option>Nikki Easyman</option>
      <option>Lawrence Yes</option>
    </select>
  </div>

  <div class="form-group divider">
    <label for="subjectName">Subject</label>
    <input type="subject" class="form-control" id="subject" name="subject" placeholder=" Ex: My ankle hurts">
  </div>

  <div class="form-group divider">
    <label for="messageText">Message</label>
    <textarea class="form-control" id="message" name="text" rows="5"
      placeholder=" Ex: Hello, my ankle hurts and I think it might be because I was playing soccer and my ankle was kicked. Can you please help me?"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" id="js_send" value="Send">Submit</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", event => {
    $('#js_send').on('click', e => {
      e.preventDefault();
      const doctorName = $('#doctor').val();
      $('#subject').val('');
      $('#message').val('');
      $('.response-text').text(`Message successfully sent to doctor ${doctorName}!`);
      $('.response-text').addClass('d-block');
    })
  });
</script>