{{> navbar}}

<h2 class="titleName"> Contact Doctor </h2>
<form action="/">

    <div class="container divider">
        Doctor: <br><input type="text" name="Doctor"><br>
    </div>

    <div class="container divider">
        Subject: <br><input type="text" name="Subject"><br>
    </div>

    <div class="container">
        Message: <br><input style= "border-width:4px" type="text" name="Message"><br>
    </div>
    
    <div class="container">
        <input style= "border-width:4px" type="submit" value="Submit">
    </div>
</form>