{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<h3 class="text-center">Contact Doctor</h3>

<form id="javascript_form" class="container">
  <div class="form-group divider">
    <label for="doctorName">Doctor</label>
    <select class="form-control" id="doctor">
      <option>Jamie Lee</option>
      <option>Eric Wong</option>
      <option>Nikki Easyman</option>
      <option>Lawrence Yes</option>
    </select>
  </div>

  <div class="form-group divider">
    <label for="subjectName">Subject</label>
    <input type="subject" class="form-control" id="subject" name="subject" placeholder=" Ex: My ankle hurts">
  </div>

  <div class="form-group divider">
    <label for="messageText">Message</label>
    <textarea class="form-control" id="message" name="text" rows="5"
      placeholder=" Ex: Hello, my ankle hurts and I think it might be because I was playing soccer and my ankle was kicked. Can you please help me?"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" id="js_send" value="Send">Submit</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", event => {
    $('#js_send').on('click', e => {
      alert('Message sent!');
      $('#subject').val('');
      $('#message').val('');
    })
  });
</script>