{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<h2 class="titleName"> Current Injuries Log </h2>

<a class="btn btn-primary" style="float:right;" href="/" role="button" id="add">Add new injury</a>

<div class="card container">
  <div class="card-body container">
    <h5 class="card-title">Right Leg: Ankle Sprain</h5>
    <h6 class="card-subtitle mb-4 text-muted">Description</h6>
    <h6 class="card-subtitle mb-2 text-muted">-Rest 3/10 days</h6>
    <h6 class="card-subtitle mb-4 text-muted">-Ice 5/5 days</h6>
    <h6 class="card-subtitle mb-2 text-muted">Complete recovery in 5/10 days</h6>
    <a class="btn btn-primary" href="/injury-details" role="button" id="injuryInfo">View More</a>
  </div>
</div>

<div class="card container">
  <div class="card-body container">
    <h5 class="card-title">Left Leg: Ankle Sprain</h5>
    <h6 class="card-subtitle mb-4 text-muted">Description</h6>
    <h6 class="card-subtitle mb-2 text-muted">-Rest 3/10 days</h6>
    <h6 class="card-subtitle mb-4 text-muted">-Ice 5/5 days</h6>
    <h6 class="card-subtitle mb-2 text-muted">Complete recovery in 5/10 days</h6>
    <a class="btn btn-primary" href="/injury-details" role="button" id="injuryInfo">View More</a>
  </div>
</div>

<div class="card container">
  <div class="card-body container">
    <h5 class="card-title">Left Hand: Finger Sprain</h5>
    <h6 class="card-subtitle mb-4 text-muted">Description</h6>
    <h6 class="card-subtitle mb-2 text-muted">-Rest 3/10 days</h6>
    <h6 class="card-subtitle mb-4 text-muted">-Ice 5/5 days</h6>
    <h6 class="card-subtitle mb-2 text-muted">Complete recovery in 5/10 days</h6>
    <a class="btn btn-primary" href="/injury-details" role="button" id="injuryInfo">View More</a>
  </div>
</div>

<div class="card container">
  <div class="card-body container">
    <h5 class="card-title">Left Hand: Finger Sprain</h5>
    <h6 class="card-subtitle mb-4 text-muted">Description</h6>
    <h6 class="card-subtitle mb-2 text-muted">-Rest 3/10 days</h6>
    <h6 class="card-subtitle mb-4 text-muted">-Ice 5/5 days</h6>
    <h6 class="card-subtitle mb-2 text-muted">Complete recovery in 5/10 days</h6>
    <a class="btn btn-primary" href="/injury-details" role="button" id="injuryInfo">View More</a>
  </div>
</div>

<div class="container bottom-pos">
  <a class="btn btn-primary" href="/current-log" role="button" id="currentLog">Current Injuries</a>
  <a class="btn btn-primary" href="/previous-log" role="button" id="previousLog">Past Injuries</a>
</div>