{{!--
    doctor.handlebars
    The doctor page is used as the information page for the specific doctors found and clicked on in the map function of our app.
    The page provides the information of the specified doctors, such as, their picture, name, rating, address, phone number, biography, specialties, and the accepted insurance at their hospital.
    You also have the ability to view their website if they have one. 
--}}

{{> navbar}}
{{> back-button destinationURL="/map" destinationName="Map"}}

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-12 col-md-6" align="center">
      <img id="doctor-image" src="https://asset2.betterdoctor.com/assets/general_doctor_male.png" alt="Doctor image">
    </div>

    <div class="col-sm-12 col-md-6">
      <h3 id="name"></h3>
      <img id="rating" src="images/stars/0.png" width="100" height="20" alt="Rating">
      <h5 class="mt-4">
        <a id="website" href="#" target="_blank">Visit website</a>
      </h5>
    </div>
  </div>
  <!-- end row -->

  <div class="row mt-5">
    <div class="col">
      <h4>Address</h4>
      <div id="address">
      </div>
    </div>
    <div class="col">
      <h4>Phone</h4>
      <div id="phone">
      </div>
    </div>
  </div>
  <!-- end address and phone row -->

  <div class="row mt-5">
    <div class="col">
      <h4>Bio</h4>
      <div id="bio">
      </div>
    </div>
  </div>
  <!-- end bio row -->

  <div class="row mt-5">
    <div class="col">
      <h4>Specialties</h4>
      <div id="specialties">
      </div>
    </div>
  </div>
  <!-- end specialties row -->

  <div class="row mt-5">
    <div class="col">
      <h4>Accepted insurance</h4>
      <ul class="ml-5">
        <li>Blue Cross</li>
        <li>BCBS Blue Card PPO</li>
        <li>Aetna</li>
        <li>Cigna</li>
        <li>Medicaid</li>
      </ul>
    </div>
  </div>
  <!-- end insurance row -->

</div>

<script>
  function formatPhoneNumber(phoneNumberString) {
    var cleaned = ('' + phoneNumberString).replace(/\D/g, '')
    var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
    if (match) {
      return '(' + match[1] + ') ' + match[2] + '-' + match[3]
    }
    return null
  }

  document.addEventListener("DOMContentLoaded", event => {
    // Last segment of URL is the doctor ID
    // ex: /doctor/asdf means doctorId is asdf
    const url = window.location.href;
    doctorId = url.substr(url.lastIndexOf('/') + 1);

    fetch(`/doctor-data/${doctorId}`).then(response => {
      console.log('Doctor data response:', response);
      return response.json();
    }).then(result => {
      console.log(result);

      const doctor = result.data;
      const name = `${doctor.profile.first_name} ${doctor.profile.last_name}, ${doctor.profile.title}`;
      const bio = `${doctor.profile.bio}`
      const image_url = `${doctor.profile.image_url}`;

      // Get all the medical areas that this doctor specializes in
      let specialtiesArr = [];
      doctor.specialties.forEach(specialty => specialtiesArr.push(specialty.name));
      const specialties = specialtiesArr.join(", ");

      const address_street = `${doctor.practices[0].visit_address.street}`;
      const address_city_state = `${doctor.practices[0].visit_address.city}, ${doctor.practices[0].visit_address.state} ${doctor.practices[0].visit_address.zip}`;
      const website = doctor.practices[0].website;
      const phone = `${doctor.practices[0].phones[0].number}`;
      const ratings = doctor.ratings;
      // Check if there is a source that includes this doctor's ratings
      const doctorObjectWithRating = ratings.find(({ rating }) => {
        return rating !== undefined;
      });
      let rating;
      // Used to make it easier to display an image of the doctor's rating
      if (doctorObjectWithRating) {
        rating = doctorObjectWithRating.rating.toString();
        rating = rating.replace(".", "_");

      }
      // Display the ratings image only if the doctor has been rated
      if (rating) {
        $("#rating").attr("src", `${(rating && `images/stars/${rating}.png`)}`);
      }
      else {
        $("#rating").remove();
      }

      $("#name").html(name);
      $("#bio").html(bio);
      $("#phone").html(formatPhoneNumber(phone));
      $("#address").html(address_street + ", " + address_city_state);
      $("#specialties").html(specialties);
      $("#doctor-image").attr("src", image_url);
      $("#website").attr("href", website);
    });
  });
</script>