{{> navbar}}

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-12 col-md-6" align="center">
      <img src="https://asset3.betterdoctor.com/images/5338f7b24214f84b3800026f-1_thumbnail.jpg">
    </div>

    <div class="col-sm-12 col-md-6">
      <h1>John Burke, MD</h1>
      <img src="https://asset2.betterdoctor.com/assets/consumer/stars/stars-large-3.5.png">
      <h5 class="mt-4">
        <a href="http://www.sutterhealth.org/dr-ajitpalsingh-s-sethi.html" target="_blank">Visit website</a>
      </h5>
    </div>
  </div>
  <!-- end row -->

  <div class="row mt-5">
    <div class="col">
      <h4>Bio</h4>
      <p>
        Dr. John Burke, MD sees patients in Berkeley, California, Van nuys, California, and Oakland, California and
        specializes in emergency medicine.
      </p>
      <p>
        Dr. Burke received his medical degree from Georgetown University School Of Medicine and is licensed to practice medicine at California.
      </p>
      <p>
        In addition to having active medical licenses, Dr. Burke has passed an automated background check which looked at
        elements including medical license status and malpractice screening (no history found)
      </p>
    </div>
  </div>
  <!-- end bio row --> 

  <div class="row mt-5">
    <div class="col">
      <h4>Specialties</h4>
      <p>
        Emergency medicine
      </p>
    </div>
  </div>
  <!-- end specialties row -->

  <div class="row mt-5">
    <div class="col">
      <h4>Accepted insurance</h4>
      <ul class="ml-5">
        <li>Blue Cross</li>
        <li>BCBS Blue Card PPO</li>
        <li>Aetna</li>
        <li>Cigna</li>
        <li>Medicaid</li>
      </ul>
    </div>
  </div>
  <!-- end insurance row -->

</div>