{{!--
    help.handlebars
    Contains a list of potential questions user may ask and provided answers to help users navigate the app if they
    are lost or confused.
--}}

{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<h3 class="text-center mb-5">Help</h3>

<div class="container">
  <div>
    <button class="collapsible" style="font-size: 1.4rem"> Q: What is Remedy? <i
        class="fa fa-chevron-down"></i></button>
    <div class="content" style="font-size: 1.2rem">
      <p>Remedy is a medical app used to track and report injuries to doctors. The app has additional features of
        listing information of common sports injuries,
        as well as, a map function used to locate nearby doctors and/or pharmacies</p>
    </div>
  </div>

  <hr/>

  <div>
    <button class="collapsible" style="font-size: 1.4rem"> Q: How do I log in an injury? <i
        class="fa fa-chevron-down"></i></button>
    <div class="content" style="font-size: 1.2rem">
      <p>On the homepage, click on "Injury Logs" where you will find both a "Current Injuries" and a "Past Injuries"
        tab. While in the "Current Injuries" tab,
        click on "Add new injury", where you will be prompted to fill in information regarding the injury. </p>
    </div>
  </div>

  <hr/>

  <div>
    <button class="collapsible" style="font-size: 1.4rem"> Q: How do I update the progress of an injury? <i
        class="fa fa-chevron-down"></i></button>
    <div class="content" style="font-size: 1.2rem">
      <p>In the "Injury Logs" page, click on "Log History" of the specified injury. A series of injury logs will appear
        with a button to "Create new log".
        Click on it and fill in the information. </p>
    </div>
  </div>

  <hr>

  <div>
    <button class="collapsible" style="font-size: 1.4rem"> Q: How do I send a report to my doctor? <i
        class="fa fa-chevron-down"></i></button>
    <div class="content" style="font-size: 1.2rem">
      <p>On the homepage, click on "Contact Doctor". You will be redirected to a page where you can then write the
        contents of an email to a chosen doctor.
        Within the message of the email, your entire injury log is attached for the doctor to view.</p>
    </div>
  </div>

  <hr/>

  <div class="mb-5">
    <button class="collapsible" style="font-size: 1.4rem"> Q: How do I look for a remedies for a specific injury I have?
      <i class="fa fa-chevron-down"></i></button>
    <div class="content" style="font-size: 1.2rem">
      <p>On the homepage, click on Injury List to see a list of sports. By clicking on a sport, it will list all the
        common injuries of that sport,
        where you can then view an overview, symptoms, and treatments for the specific injury.</p>
    </div>
  </div>
</div>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>