{{> navbar}}

<div class="mt-4 text-center">
  <h1>Welcome, {{name}}!</h1>
  <h4>What would you like to do?</h4>
</div>

<div class="container gallery">
  <div class="row">
    <a class="col-xs-12 col-sm-5 gallery__item gallery__item--fat-grey" href="/current-log">
      <img src="/images/notebook.png" width="50px" height="50px">
      Injury Logs
    </a>
    <a class="col-xs-12 col-sm-5 gallery__item gallery__item--fat-grey" href="/injury-list">
      <img src="/images/list.png" width="50px" height="50px">
      Injury List
    </a>
    <a class="col-xs-12 col-sm-5 gallery__item gallery__item--fat-grey" href="/map">
      <img src="/images/map-location.png" width="50px" height="50px">
      Map
    </a>
    <a class="col-xs-12 col-sm-5 gallery__item gallery__item--fat-grey" href="/contact-doctor">
      <img src="/images/phone-book.png" width="50px" height="50px">
      Contact Doctor
    </a>
  </div>
</div>