{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

{{!-- <div class="topBox">
  <a class="btn btn-primary" href="/" role="button" id="back-btn">Back</a>
  <h2 class="titleName"> Injury Information </h2>
</div> --}}

<h2 class="titleName">Injury List</h2>

<!-- <div>
  <button type="button" name="filter" id="filter" class="btn btn-primary">Filter</button>
</div> -->

<div class="searchBar">
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
</div>

<div class="gallery">
  <div class="row">
  {{#each injuryList.sports}}
    <div  id="myList">
      <a class="col-xs-6 col-sm-5 col-md-3 gallery__item" href="/common-injuries">
        <img class="injuryImage" src={{imageURL}} alt={{name}}>
        <h5 class="gallery__item__caption">{{name}}</h5>
      </a>
    </div>
  {{/each}}
  </div>
</div>

<!-- <script type="text/javascript">
$(document).ready(function(){
$("#myInput").on("keyup", function() {
  var value = $(this).val().toLowerCase();
  $("#myList li").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  });
});
});
</script> -->
