{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<h2 class="text-center">Injury List</h2>

{{> search-bar placeholder="Search for a sport"}}

<div class="gallery">
  <div class="row" id="sportList">
    {{#each injuryList}}
    <a class="col-xs-12 col-sm-5 col-md-3 gallery__item" href="/common-injuries/{{sport_id}}">
      <img height="80%" width="80%" src={{sport_image_url}} alt="Sport icon">
      <h5 class="gallery__item__caption">{{sport_name}}</h5>
    </a>
    {{/each}}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", event => {
    $('#search-bar__input').on('keyup search', () => {
      const query = $('#search-bar__input').val();
      fetch(`/sport/${query}`).then(response => {
        return response.json();
      }).then(filteredSports => {
        $('#sportList').html('');
        filteredSports.forEach(sport => {
          $('#sportList').append(`
                 <a class="col-xs-12 col-sm-5 col-md-3 gallery__item" href="/common-injuries/${sport.sport_id}">
                  <img height="80%" width="80%" src=${sport.sport_image_url} alt="Sport icon">
                  <h5 class="gallery__item__caption">${sport.sport_name}</h5>
                </a>
                `)
        })
      });
    });
  });
</script>