<!--

This file displays different sports in which the user can then go into to find
the common injuries for that specific sport. This page also is able to filter
the sports based on what the user types into the search bar. 

 -->
{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<h3 class="text-center">Injury List</h3>

{{> search-bar placeholder="Search for a sport"}}

<div class="gallery">
  <div class="row" id="sportList">
    {{#each injuryList}}
    <a class="col-xs-12 col-sm-5 col-md-3 gallery__item" style="width:40%" href="/common-injuries/{{sport_id}}">
      <img class="gallery__item__image" height="100px" width="100px" src={{sport_image_url}} alt="Sport icon">
      <h5 class="gallery__item__caption">{{sport_name}}</h5>
    </a>
    {{/each}}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", event => {
    $('#search-bar__input').on('keyup search', () => {
      const query = $('#search-bar__input').val();
      fetch(`/sport/${query}`).then(response => {
        return response.json();
      }).then(filteredSports => {
        $('#sportList').html('');
        filteredSports.forEach(sport => {
          $('#sportList').append(`
                 <a class="col-xs-12 col-sm-5 col-md-3 gallery__item" style="width:40%" href="/common-injuries/${sport.sport_id}">
                  <img height="100px" width="100px" src=${sport.sport_image_url} alt="Sport icon">
                  <h5 class="gallery__item__caption">${sport.sport_name}</h5>
                </a>
                `)
        })
      });
    });
  });
</script>
