{{> navbar}}
{{> back-button destinationURL="/common-injuries" destinationName="Common Injuries"}}

<h2 class="titleName"> Ankle Sprains</h2>

{{!-- <div class="topBox">
  <a class="btn btn-primary" href="/common-injuries" role="button" id="back-btn">Back</a>
  <h2 class="titleName"> Ankle Sprains</h2>
</div> --}}

<img src="https://www.health.harvard.edu/media/content/images/LegPain.jpg" alt="Leg Sprain" width="400px">

<div class="description">
  <h4>Description</h4>
  <p>
    Sprains occur when a ligament is stretched in the associated area. Sprains occur when a ligament is stretched in the
    associated area.
  </p>
</div>
<br />
<div class="remedies">
  <h4>Remedies</h4>
  <p>
    - Apply ice everyday for an hour <br />
    - Put an icy hot patch in the affected area
  </p>
</div>
<br />
<a href="https://youtu.be/WVootGaWv4M"> Video Guide</a>