{{> navbar}}

<div class="container mt-4">

    <h1 class="text-center mb-5">Log In</h1>

    <form class="custom-form" action="/">
        <div class="input-group mb-5">
            <div class="input-group-prepend">
                <span class="input-group-text custom-form__group-text" id="username">Username</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="username">
        </div>

        <div class="input-group mb-5">
            <div class="input-group-prepend">
                <span class="input-group-text custom-form__group-text" id="password">Password</span>
            </div>
            <input type="password" class="form-control" aria-label="Password" aria-describedby="password">
        </div>

        <input type="submit" class="btn btn-primary mb-3" value="Sign In" />

        <a href="">
            <p>Forgot password?</p>
        </a>
    </form>

</div>