{{> navbar}}

<div class="">
  <div class="row">
    <div class="col-sm-12 col-md-6 a order-2 order-md-1">
      <form class="mt-4 mb-4 ml-4">
        <div class="input-group">
          <input type="text" class="form-control" id="search" placeholder="Search for doctors/pharmacies">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
        <button class="btn btn-primary">Filter</button>
      </form>

      <div class="map-cards">
        {{> card business-name="CVS Pharmacy" 
          street-address="7525 Eads Ave"
          city-state-address="La Jolla, CA 92037"
          image-url="https://upload.wikimedia.org/wikipedia/commons/c/c8/CVS1212.png"}}
      </div>

    </div>

    <div class="col-sm-12 col-md-6 iframe-container test order-1 order-md-2">
      <div id="map"></div>
    </div>
  </div>

</div>

<script>
  fetch('/map-data').then(response => {
    console.log('Map data response:', response);
    return response.json();
  }).then(result => {
    console.log(result);
    let doctorArr = [];
    doctorArr = result.data;

    doctorArr.forEach(doctor => {
      const name = `${doctor.profile.first_name} ${doctor.profile.last_name}, ${doctor.profile.title}`;
      const image_url = `${doctor.profile.image_url}`;
      let specialtiesArr = [];
      doctor.specialties.forEach(specialty => specialtiesArr.push(specialty.name));
      const specialties = specialtiesArr.join(", ");
      const address_street = `${doctor.practices[0].visit_address.street}`;
      const address_city_state = `${doctor.practices[0].visit_address.city}, ${doctor.practices[0].visit_address.state} ${doctor.practices[0].visit_address.zip}`;
      const uid = doctor.uid;

      $(".map-cards").append(`{{> card 
                                      is-doctor="true" 
                                      image-url="${image_url}" 
                                      business-name="${name}" 
                                      specialties="${specialties}"
                                      street-address="${address_street}"
                                      city-state-address="${address_city_state}"
                                      uid="${uid}"}}`);
    });
  });

  let map;
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 32.8801, lng: -117.234 },
      zoom: 8
    });
  }

  function loadMap() {
    const script = document.createElement("script");
    script.type = "text/javascript";
    script.defer = true;
    script.src = `https://maps.googleapis.com/maps/api/js?key=AIzaSyBHdjbgVLLmAkHyH2dl5wwQQJskaHs3v3E&callback=initMap`;
    document.body.appendChild(script);
  }
  window.onload = loadMap;
</script>