{{> navbar}}

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-12 col-md-6" align="center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/CVS1212.png" class="img-responsive" 
      style="object-fit:contain; width:100%; height:100%:">
    </div>

    <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-center">
      <h1>CVS Pharmacy</h1>
      <img src="https://asset2.betterdoctor.com/assets/consumer/stars/stars-large-3.5.png" width="100" height="20">
      <h5 class="mt-4">
        <a href="https://www.cvs.com/store-locator/cvs-pharmacy-address/510+C+Street-San+Diego-CA-92101/storeid=4768" target="_blank">Visit website</a>
      </h5>
    </div>
  </div>
  <!-- end row -->

  <div class="row mt-5">
    <div class="col">
      <h4>Price</h4>
      $$
    </div>
  </div>
  <!-- end price row --> 

  <div class="row mt-5">
    <div class="col">
      <h4 class="mb-4">Open hours</h4>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Mon</th>
            <td>6:00am - 10:00pm</td>
          </tr>
          <tr>
            <th scope="row">Tues</th>
            <td>6:00am - 10:00pm</td>
          </tr>
          <tr>
            <th scope="row">Wed</th>
            <td>6:00am - 10:00pm</td>
          </tr>
          <tr>
            <th scope="row">Thurs</th>
            <td>6:00am - 10:00pm</td>
          </tr>
          <tr>
            <th scope="row">Fri</th>
            <td>6:00am - 10:00pm</td>
          </tr>
          <tr>
            <th scope="row">Sat</th>
            <td>6:00am - 10:00pm</td>
          </tr>
          <tr>
            <th scope="row">Sun</th>
            <td>6:00am - 10:00pm</td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
  <!-- end open hours row -->

</div>