<style>
    .profile {
        padding: 1rem;
        max-width: 70rem;
        margin: 1rem;
        box-shadow: 0 0 0 0.1rem lightgray;
        text-align: center;
    }

    textarea:required:invalid,
    input:required:invalid {
        background-color: lightyellow;
    }
</style>

{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h5>User Profile</h5>
        </div>
        <div class="col-sm-6" align="right">
            <button id="edit" class="btn btn-primary">Edit Profile</button>
            <button id="save" class="btn btn-success">Save Profile</button>
        </div>
    </div>
    <div class="profile">
        <div class="row">
            <div class="col-sm-3" align="center">
                <img src="https://paraklesiscounselling.com/wp-content/uploads/2017/04/My-Account-Icon.jpg"
                    width="125px" height="125px">
            </div>
            <div class="col-sm-6" align="center">
                <br>
                <h6 id="name">Johnny Appleseed</h6>
                <div id="nameBox" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Name</span></div>
                    <input id="nameInput" type="text" placeholder="John Appleseed" class="form-control"
                        aria-label="Small" aria-describedby="inputGroup-sizing-default">
                </div>
                <p id="email">jappleseed@email.com</p>
                <div id="emailBox" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Email</span></div>
                    <input id="emailInput" type="text" placeholder="johnappleseed@gmail.com" class="form-control"
                        aria-label="Small" aria-describedby="inputGroup-sizing-default">
                </div>
                <p id="location">San Diego, California</p>
                <div id="locationBox" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Location</span></div>
                    <input id="locationInput" type="text" placeholder="Los Angeles, California" class="form-control"
                        aria-label="Small" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <h5>Sports</h5>
                <p id="sport1"><img src="/images/basketball.png" height="25px" width="25px"> - Center</p>
                <div id="sport1Dropdown" class="dropdown">
                    <select id="sportSelect1" class="form-control">
                        <option value="none" selected="selected">Select a sport</option>
                        <option value="none">None</option>
                        <option value="baseball">Baseball</option>
                        <option value="basketball">Basketball</option>
                        <option value="bike">Bicycling</option>
                        <option value="pom-pom">Cheerleading</option>
                        <option value="ballerina">Dance</option>
                        <option value="american-football">Football</option>
                        <option value="golf">Golf</option>
                        <option value="rings">Gymnastics</option>
                        <option value="hockey">Hockey</option>
                        <option value="lacrosse">Lacrosse</option>
                        <option value="motorbike">Motocross</option>
                        <option value="jogging">Running</option>
                        <option value="skateboard">Skateboarding</option>
                        <option value="soccer">Soccer</option>
                        <option value="swimming">Swimming</option>
                        <option value="frisbee">Ultimate Frisbee</option>
                        <option value="volleyball">Volleyball</option>
                    </select><br></div>
                <div id="sport1Box" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Position</span>
                    </div>
                    <input id="sport1Position" type="text" placeholder="Center" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <p id="sport2"><img src="/images/baseball.png" height="25px" width="25px"> - Pitcher</p>
                <div id="sport2Dropdown" class="dropdown">
                    <select id="sportSelect2" class="form-control">
                        <option value="none" selected="selected">Select a sport</option>
                        <option value="none">None</option>
                        <option value="baseball">Baseball</option>
                        <option value="basketball">Basketball</option>
                        <option value="bike">Bicycling</option>
                        <option value="pom-pom">Cheerleading</option>
                        <option value="ballerina">Dance</option>
                        <option value="american-football">Football</option>
                        <option value="golf">Golf</option>
                        <option value="rings">Gymnastics</option>
                        <option value="hockey">Hockey</option>
                        <option value="lacrosse">Lacrosse</option>
                        <option value="motorbike">Motocross</option>
                        <option value="jogging">Running</option>
                        <option value="skateboard">Skateboarding</option>
                        <option value="soccer">Soccer</option>
                        <option value="swimming">Swimming</option>
                        <option value="frisbee">Ultimate Frisbee</option>
                        <option value="volleyball">Volleyball</option>
                    </select><br></div>
                <div id="sport2Box" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Position</span>
                    </div>
                    <input id="sport2Position" type="text" placeholder="Pitcher" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <p id="sport3"><img src="/images/swimming.png" height="25px" width="25px"> - 200m</p>
                <div id="sport3Dropdown" class="dropdown">
                    <select id="sportSelect3" class="form-control">
                        <option value="none" selected="selected">Select a sport</option>
                        <option value="none">None</option>
                        <option value="baseball">Baseball</option>
                        <option value="basketball">Basketball</option>
                        <option value="bike">Bicycling</option>
                        <option value="pom-pom">Cheerleading</option>
                        <option value="ballerina">Dance</option>
                        <option value="american-football">Football</option>
                        <option value="golf">Golf</option>
                        <option value="rings">Gymnastics</option>
                        <option value="hockey">Hockey</option>
                        <option value="lacrosse">Lacrosse</option>
                        <option value="motorbike">Motocross</option>
                        <option value="jogging">Running</option>
                        <option value="skateboard">Skateboarding</option>
                        <option value="soccer">Soccer</option>
                        <option value="swimming">Swimming</option>
                        <option value="frisbee">Ultimate Frisbee</option>
                        <option value="volleyball">Volleyball</option>
                    </select><br></div>
                <div id="sport3Box" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Position</span>
                    </div>
                    <input id="sport3Position" type="text" placeholder="200m" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="profile">
        <div class="row" align="center">
            <div class="col-sm-3">
                <h5>Your Doctor</h5>
                <br>
                <img src="https://paraklesiscounselling.com/wp-content/uploads/2017/04/My-Account-Icon.jpg" width="75"
                    height="75">
            </div>
            <div class="col-sm-6" align="center">
                <br><br>
                <a href="/doctor/001f60172493d3546f7869f4b8bad742" id="doctor">
                    <h6>Dr. Jason Snitzer</h6>
                </a>
                <div id="doctorDropdown" class="dropdown">
                    <select id="doctorSelect" class="form-control">
                        <option selected="selected">Select your doctor</option>
                        <option>Jamie Lee</option>
                        <option>Eric Wong</option>
                        <option>Nikki Easyman</option>
                        <option>Lawrence Yes</option>
                    </select><br>
                </div>
                <p id="doctorPhone">(222) 733 8273</p>
                <div id="doctorPhoneBox" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Phone Number</span>
                    </div>
                    <input id="doctorPhoneInput" type="tel" placeholder="888 888 8888"
                        pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="12" title="Ten digits required" required
                        class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-default">
                </div>
                <p id="doctorLocation">UCSD Hospital</p>
                <div id="doctorLocationBox" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Hospital</span>
                    </div>
                    <input id="doctorLocationInput" type="text" placeholder="Scripps Hospital" class="form-control"
                        aria-label="Small" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", event => {
        $('#save').hide();
        $('#nameBox').hide();
        $('#emailBox').hide();
        $('#locationBox').hide();
        $('#sport1Dropdown').hide();
        $('#sport1Box').hide();
        $('#sport2Dropdown').hide();
        $('#sport2Box').hide();
        $('#sport3Dropdown').hide();
        $('#sport3Box').hide();
        $('#doctorDropdown').hide();
        $('#doctorPhoneBox').hide();
        $('#doctorLocationBox').hide();

        //edit profile
        $('#edit').click(() => {
            $('#nameBox').show();
            $('#name').hide();

            $('#emailBox').show();
            $('#email').hide();

            $('#locationBox').show();
            $('#location').hide();

            $('#sport1Dropdown').show();
            $('#sport1Box').show();
            $('#sport1').hide();

            $('#sport2Dropdown').show();
            $('#sport2Box').show();
            $('#sport2').hide();

            $('#sport3Dropdown').show();
            $('#sport3Box').show();
            $('#sport3').hide();

            $('#doctorDropdown').show();
            $('#doctor').hide();

            $('#doctorPhoneBox').show();
            $('#doctorPhone').hide();

            $('#doctorLocationBox').show();
            $('#doctorLocation').hide();

            $('#edit').hide();
            $('#save').show();
        });

        //save profile
        $('#save').click(() => {
            if ($('#nameInput').val() !== '' && $('#emailInput').val() !== '' && $('#locationInput').val() !== ''
                && document.getElementById('doctorSelect') != null && $('#doctorPhoneInput').val() !== ''
                && $('#doctorLocationInput').val() !== '') {

                $('#nameBox').hide();
                $('#name').show();
                $('#name').replaceWith("<h6 id='name'>" + $('#nameInput').val() + "</h6>");

                $('#emailBox').hide();
                $('#email').show();
                $('#email').replaceWith("<p id='email'>" + $('#emailInput').val() + "</p>");

                $('#locationBox').hide();
                $('#location').show();
                $('#location').replaceWith("<p id='location'>" + $('#locationInput').val() + "</p>");

                $('#sport1Box').hide();
                $('#sport1Dropdown').hide();
                var sport = document.getElementById('sportSelect1');
                var userSport1 = sport.options[sport.selectedIndex].value;
                $('#sport1').show();
                if (userSport1 == 'none') {
                    $('#sport1').replaceWith("<p></p>");
                } else {
                    $('#sport1').replaceWith("<p id='sport1'><img src='/images/" + userSport1 +
                        ".png' height='25px' width='25px'> - " + $('#sport1Position').val() + "</p>");
                }

                $('#sport2Box').hide();
                $('#sport2Dropdown').hide();
                var sport2 = document.getElementById('sportSelect2');
                var userSport2 = sport2.options[sport2.selectedIndex].value;
                $('#sport2').show();
                if (userSport2 == 'none') {
                    $('#sport2').replaceWith("<p></p>");
                } else {
                    $('#sport2').replaceWith("<p id='sport2'><img src='/images/" + userSport2 +
                        ".png' height='25px' width='25px'> - " + $('#sport2Position').val() + "</p>");
                }

                $('#sport3Box').hide();
                $('#sport3Dropdown').hide();
                var sport3 = document.getElementById('sportSelect3');
                var userSport3 = sport3.options[sport3.selectedIndex].value;
                $('#sport3').show();
                if (userSport3 == 'none') {
                    $('#sport3').replaceWith("<p></p>");
                } else {
                    $('#sport3').replaceWith("<p id='sport3'><img src='/images/" + userSport3 +
                        ".png' height='25px' width='25px'> - " + $('#sport3Position').val() + "</p>");
                }

                $('#doctorDropdown').hide();
                var doctor = document.getElementById('doctorSelect');
                var userDoctor = doctor.options[doctor.selectedIndex].text;
                $('#doctor').show();
                $('#doctor').replaceWith("<a href='/doctor/001f60172493d3546f7869f4b8bad742' id='doctor'><h6>" + userDoctor + "</h6></a>");

                $('#doctorPhoneBox').hide();
                $('#doctorPhone').show();
                $('#doctorPhone').replaceWith("<p id='doctorPhone'>" + $('#doctorPhoneInput').val() + "</p>");

                $('#doctorLocationBox').hide();
                $('#doctorLocation').show();
                $('#doctorLocation').replaceWith("<p id='doctorLocation'>" + $('#doctorLocationInput').val() + "</p>");

                $('#edit').show();
                $('#save').hide();
            }
            else {
                alert('Please enter in all fields.');
            }
        });
    });
</script>