<style>
    .profile{
        padding: 10px;
        max-width: 700px;
        margin: 10px;
        box-shadow: 0 0 0 1px lightgray;  
        text-align: center;
    }
</style>

{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<div class="container">
    <h5>User Profile</h5>
    <div class="profile">
        <div class="row">
            <div class="col-sm-3" align="center">
                <img src="https://paraklesiscounselling.com/wp-content/uploads/2017/04/My-Account-Icon.jpg" width="125px"
                    height="125px">
            </div>
            <div class="col-sm-3" align="center">
                <br>
                <h6>Johnny Appleseed</h6>
                <p>jappleseed@email.com</p>
                <p>San Diego, California</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <h5>Sports</h5>
                <p><img src="/images/basketball.png" height="25px" width="25px"> - Center</p>
                <p><img src="/images/baseball.png" height="25px" width="25px"> - Pitcher</p>
                <p><img src="/images/swimming.png" height="25px" width="25px"> - 200m</p>
            </div>
        </div>
    </div>
    <br>
    <div class="profile">
        <div class="row" align="center">
            <div class="col-sm-3">
                <h5>Your Doctor</h5>
                <br>
                <img src="https://paraklesiscounselling.com/wp-content/uploads/2017/04/My-Account-Icon.jpg" width="75"
                    height="75">
            </div>
            <div class="col-sm-3" align="center">
                <br><br>
                <a href="/doctor/001f60172493d3546f7869f4b8bad742"><h6>Dr. Jason Snitzer</h6></a>
                <p>(222) 733 8273</p>
                <p>UCSD Hospital</p>
            </div>
        </div>
    </div>
</div>