{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<div class="container">
    <div class="row">
        <div class="col-sm-4" align="center">
            <img src="https://paraklesiscounselling.com/wp-content/uploads/2017/04/My-Account-Icon.jpg" width="150"
                height="150">
        </div>
        <div class="col-sm-4" align="center">
            <h5>Johnny Appleseed</h5>
            <p>jappleseed@email.com</p>
            <p>San Diego, California</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="text-align:center;">
            <br>
            <h5>Sports</h5>
            <p>Basketball - Center</p>
            <p>Baseball - Pitcher</p>
            <p>Swimming</p>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-sm-4">
            <img src="https://paraklesiscounselling.com/wp-content/uploads/2017/04/My-Account-Icon.jpg" width="75"
                height="75">
        </div>
        <div class="col-sm-4">
            <h5>Dr. Jason Snitzer</h5>
            <p>(222) 733 8273</p>
            <p>UCSD Hospital</p>
            <a href="/doctor/001f60172493d3546f7869f4b8bad742">
                <p>Go to his profile</p>
            </a>
        </div>
    </div>
</div>