.cardCommon img {
  width: 300px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  padding: 15px;
  text-align: center;
}

.commonInjuryBox {
  padding: 0 6px;
  float: left;
  width: 100%;
}

.cardCommon {
  border-color: #333;
  border-style: inset;
  border-width: 3px;
  background-color: inherit;
  text-align: center;
  margin-bottom: 5px;
}
