/*
 * _injury-details.scss
 * Stylizes content exclusively on injury details page.
 */

.injury-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30rem;
  @media #{$large-screen} {
    width: 40rem;
  }
}
