/*
  Formats the injury image on the injury details page so that it is centered.
*/
.injury-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
