.titleName {
    text-align: center;
  }

.bottom-pos {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        display:inline;
}

.topBox {
    display: flex;
    justify-content: center;
    position: relative;
  }