#map {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .map-cards {
    overflow-y: scroll;
    max-height: 100vh;
    margin-left: 1.5rem;
  }
}

.dropdowns {
  display: flex;

  .dropdown {
    margin-top: 2rem;
    margin-right: 2rem;
  }
}
