.card {
  & img {
    width: auto;
    height: auto;
  }

  .card__thumbnail {
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
  }

  .card__ratings {
    width: 10rem;
    height: 1.5rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
